<section class="container">
    <h1>{{{ title }}}</h1>
        <section>
            {{#each posts as |blogmessage|}}
        <section class="card flex-row justify-center">
            <a href="/message/{{id}}">
            <h2>{{blogmessage.title}}</h2>
            </a>
        </section>
            {{/each}}
        </section>


</section>






